doctype html
html(lang="en")
	head
		meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
		title Node Authentication

	body
		p
			strong id
			| : #{user.id}
			br
			strong token
			| : #{user.token}
			br
			strong email
			| : #{user.email}
			br
			strong name
			| : #{user.name}
			br
